# Dependências
/node_modules
/.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Diretórios de build
/dist
/build
/.next
/out

# Testes e cobertura
/coverage
/.nyc_output

# Ambiente
.env
.env.local
.env.*.local

# Cache
/.cache
/.eslintcache
/.npm
/.tsbuildinfo
/.turbo

# Editor/IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.sw?
